* {
  outline: none;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
code {
  font-family: Consolas, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit; }
h1, .h1 {
  font-size: 36px; }
h2, .h2 {
  font-size: 30px; }
h3, .h3 {
  font-size: 24px; }
h4, .h4 {
  font-size: 18px; }
h5, .h5 {
  font-size: 16px; }
h6, .h6 {
  font-size: 14px; }
.admin-app {
  color: #6c757d;
  font-size: 0.875rem;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
div.card-body-has-sidebar {
  margin-left: 160px;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.card .card-title {
  position: relative;
  font-weight: 500;
}
.card-title {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-bottom: 0.75rem;
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #adb5bd;
}
.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.card-subtitle a, .card-subtitle a:visited {
  color: #adb5bd;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {
  border-collapse: collapse;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
th {
  text-align: inherit;
}
table th {
  font-weight: 400;
}
.text-center {
  text-align: center !important;
}
.table th, .table td {
  padding: 1rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table thead th, .table th {
  font-weight: 500;
}
.btn {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #acb2b8;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .02);
  color: #74787c;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
}
.btn:hover {
  border: 1px solid #888a8d;
  background-color: rgba(0, 0, 0, .04);
}
.btn:active {
  background-color: rgba(0, 0, 0, .06);
}
.create-btn {
  position: relative;
  top: -10px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin-left: 3vw;
  padding: 4px 12px;
  border: 1px solid #acb2b8;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .05);
  color: #5f6163;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
}
.create-btn:hover {
  border: 1px solid #888a8d;
  background-color: rgba(0, 0, 0, .5);
  color: #f3f3f3;
}
.create-btn:active {
  background-color: rgba(0, 0, 0, .7);
  color: #ffffff;
}
.blanket {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.create-form {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #edf1f5;
  box-shadow: -4px 0 4px 0 #666;
  height: 100vh;
  width: 40vw;
  z-index: 2;
}
textarea {
  margin-top: 15px;
  width: 36vw;
  height: 30vh;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}
.submit-btn {
  margin-top: 10px;
  width: 36vw;
  height: 3em;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 4px;
  color: #3d3e40;
  background-color: #ffffff;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #aaa;
  color: #ffffff;
}
.submit-btn:active {
  background-color: #999;
}
.error {
  margin-top: 6px;
  color: red;
  color: var(--red);
}
i.fa.fa-remove {
  color: red;
  color: var(--red);
  padding: 0 1px;
  border: 1px solid red;
  border-radius: 2px;
  cursor: pointer;
}
.card-tab-item {
  display: block;
  width: 160px;
  padding: 8px 0;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}
.card-tab-item:hover {
  background-color: #d4dae0;
}
.card-tab-item:active {
  background-color: #ced3d8;
}
.card-tab-item-active {
  background-color: #dce2e8;
}
.card-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-color: #edf1f5;
  padding: 20px 0;
}
.card-aside-header {
  text-align: center;
  margin-bottom: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #8396a9;
}
.card-body-header {
  margin-bottom: 20px;
  height: 26px;
}
.align-right {
  float: right;
}
